/* DEFAULT STYLING IS FOR MOBILE */

html,
body {
  font-family: "Libre Franklin", sans-serif;
}

.social-icons-container {
  display: flex;
  flex-direction: row;
}
.social-icons-container img {
  max-width: 2rem;
}

footer {
  margin-top: 3rem;
  text-align: center;
}
