/* DEFAULT STYLING IS FOR MOBILE */

html,
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}
header {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
header img {
  display: flex;
  margin: 0 auto;
}
#hero-text {
  text-align: center;
}
.light-text {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}
#email-input {
  margin-bottom: 3rem;
}
#email-input form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
input {
  padding: 1rem 1rem;
  border-radius: 50px;
  border: 1px solid hsl(223, 100%, 88%);
}
input[type="text"],
button {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-radius: 50px;
  border: none;
}
::placeholder {
  color: hsl(223, 100%, 88%);
}
button {
  margin: 1rem 0;
  padding: 1rem 3rem;
  background-color: hsl(223, 87%, 63%);
  color: white;
  font-weight: 700;
}
#dashboard-image img {
  max-width: 90%;
  display: flex;
  margin: 0 auto;
}
.social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-icons-container img {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin: 1.5rem;
}

footer {
  margin-top: 3rem;
  text-align: center;
}
#copyright-text {
  font-size: 14px;
  color: hsl(0, 0%, 59%);
}
.attribution {
  font-size: 16px;
}
